canvas
{
  position:fixed;
  top:0;
  left:0;
}

main
{
  position:absolute;
}

#link
{
  background-image: linear-gradient(to bottom, #6600cc, #ff3333);
  font-family:'Raleway SemiBold';
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.nav-link
{
  font-family:'Raleway';
  font-size:large;
  color:#ffffff;
}

.left:before 
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF3333;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

  .left:hover::before
  {
    visibility: visible;
    width: 100%;
  }

  .nav-link:hover
  {
     background-image:linear-gradient(to bottom, #030452, #ff3333);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     text-shadow: 0 0 10px #ff3333,
     0 0 20px #ff3333,
     0 0 30px #ff3333,
     0 0 40px #6600cc,
     0 0 50px #030452;
  }

.dropdown-item
{
  color:#ffffff;
}
  .dropdown-item:hover
  {
    background-image: linear-gradient(to bottom, #030452, #ff3333);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

.dropdown-menu
{
  background-color:#000000;
  border-left:3px solid #030452;
  transition-duration: 0.7s;
}
.welcomePage {
  background-image: linear-gradient(to bottom, #000000bb, transparent);
  height: 100vh;
}

.profilePic
{
  border: 2px solid #ff3333;
}

  .profilePic:hover
  {
    box-shadow: 0 0 10px #ff3333, 0 0 20px #030452;
  }

#PersonalPortfolio {
  padding: 34px;
  text-align: center;
  font-family: 'Kravitz', sans-serif;
  color: #ffffff;
  text-shadow: 0 0 4px #ff3333, 0 0 10px #030452;
}

#Logo {
  display: inline-flex;
}

.IntroductoryPost {
  width: auto;
  height:auto;
  padding: 20px;
  backdrop-filter:blur(10px);
}


#introLogo {
  width: 38px;
}

#IntroTitle {
  padding-top: 25px;
  color: #ffffff;
  font-family: 'Agency FB';
  text-align: center;
}

#IntroParagraph {
  text-align: center;
  padding: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Raleway ExtraLight';
  font-size: 20px;
  padding: 25px;
}

#link:hover {
  transition-duration: 1s;
  text-shadow: 0 0 5px #ff3333,
  0 0 10px #030452;
}

#ProgrammersKE {
  background-image: linear-gradient(to left, #6600cc56, #33ff555e),
    url('./images/code\ javascript.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

#ThinkersKE {
  background-image: linear-gradient(to left, #ffffff67, #00c3ff5d),
    url('./images/cassini-plunge.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;

}

#ArtistsKE {
  background-image: linear-gradient(to left, #0066ff41, #ff00aa50),
    url('./images/Wallpaper.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
}

#WanderersKE {
  background-image: linear-gradient(to left, #0300cc54, #b104f549),
    url('./images/Galaxy\ Violet\ Wallpaper\ 5.jpg');
  background-size: cover;
  background-attachment: fixed;
  ;
  width: 100%;
}


#ManuLamo {
  color:#ffffff;
  font-size: 100px;
  font-family: 'Techno Board';
  text-align: center;
  padding: 100px;
  text-shadow: 0 0 10px #ff3333,
    0 0 20px #ff3333,
    0 0 30px #ff3333,
    0 0 40px #6600cc,
    0 0 50px #030452;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#Describe {
  color: #ffffff;
  text-align: center;
  font-family: 'Code', sans-serif;
  animation: glow 2s ease-in-out infinite alternate;
}

#IntroTitle {
  color: #ffffff;
  font-family: 'Agency FB', sans-serif;
  padding: 20px;
  text-shadow: 0 0 10px #ff3333,
  0 0 20px #ff3333,
  0 0 30px #ff3333,
  0 0 40px #6600cc,
  0 0 50px #030452;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px #ff3333,
     0 0 20px #ff3333,
     0 0 30px #ff3333,
     0 0 40px #6600cc,
     0 0 50px #030452;
  }
}

.wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  backdrop-filter: blur(11px);
  transform:rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 95px;
}

.wave .shape-fill {
  fill: #ff33448e;
}

hr 
{
  width: 100%;
  color:#ff3333;
}

#programmersKE {
  font-size: 30px;
  font-family: 'Audiowide', sans-serif;
  background-image: linear-gradient(to bottom, #6600cc, #00ff55);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#artistsKE {
  font-size: 30px;
  font-family: 'Audiowide', sans-serif;
  background-image: linear-gradient(to bottom, #0066ff, #ff00aa);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#thinkersKE {
  font-size: 30px;
  font-family: 'Audiowide', sans-serif;
  background-image: linear-gradient(to bottom, #ffffff, #00c3ff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

#wanderersKE {
  font-size: 30px;
  font-family: 'Audiowide', sans-serif;
  background-image: linear-gradient(to bottom, #0300cc, #b104f5);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.carousel-item
{
  height:50vh;
}

#link1,
#link2,
#link3,
#link4,
#link5,
#link6,
#link7,
#link8 {
  height: 30px;
  width: 30px;
}

#skills
{
  background-image: url('./assets/blurry-gradient-haikei.svg');
  background-repeat:no-repeat;
  background-size:cover;
  height:auto;
}

#linkUp
{
  color:#030452;
}

#SubHeader
{
  font-family:'Raleway ExtraLight';
  text-align:right;
  color:#ffffff;
  padding-top:10px;
}

.spacer
{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer2
{
  background-image:url('./assets/layered-waves\ \(2\).svg');
  padding-bottom:0px;
}

#footnote
{
  position:relative;
  display:flex;
  flex-direction:column;
  padding-top: 20px;
  background-image: linear-gradient(to bottom, #6600cc, #ff3333);
}

blockquote {
  width: 100%;
  margin: 50px auto;
  font-family: 'Code';
  padding: 30px;
  border-left: 8px solid #ffffff;
  color: white;
  position: relative;
}

blockquote::before {
  content: "\201C";
  color: white;
  font-size: 40px;
  position: absolute;
  left: 5px;
  top: 70px;
}

blockquote::after {
  content: '';
}

blockquote span {
  display: block;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff,
    0 0 20px #00c3ff,
    0 0 30px #0066ff,
    0 0 40px #6600cc;
}