@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradText {
  background: -webkit-linear-gradient(-45deg, #5572cf, #cc4663, #7c36ec);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poller One;
  margin-top: 12rem;
  margin-left: 10rem;
}

.aurora
{
  background: linear-gradient(50deg, #cbe7f0 0%, #e7a186c5 50%, #8bc7f8 100%);
  /* background-size: 200% 200%;
  animation: aurora 10s ease infinite;
  -webkit-animation: aurora 10s ease infinite;
  -moz-animation: aurora 10s ease infinite; */
}

.aurora2
{
  background: linear-gradient(170deg, #f37198a4 0%, #e8dff31f 50%, #7a4ec2be 100%);
  /* background-size: 200% 200%;
  animation: aurora 20s ease infinite;
  -webkit-animation: aurora 20s ease infinite;
  -moz-animation: aurora 20s ease infinite; */
}




